	<div class="blank10 clear"></div>
    <div class="mainbody ">
		<div class=" bg">
			<div class="div1002" style="font-size:20px">留 言</div>
			<div class="item-list">
				<form action="" method="post">
					<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" style="font-size: 12px;color: #555555;">
						<tbody>
							<tr bgcolor="F7FAFA">
								<td height="25" align="center" bgcolor="FAFAFA" style="padding-top:10px">&nbsp;<font color="#FF0000">昵称</font>(必填)&nbsp;</td>
								<td height="25" bgcolor="FAFAFA" style="padding-top:10px"><input name="m_Name" type="text" id="m_Name" style="font-size: 12px;" size="30" maxlength="50"></td>
							</tr>
							<tr bgcolor="F7FAFA">
								<td height="25" align="center" bgcolor="FAFAFA" style="padding-top:10px">&nbsp;电话(可填)&nbsp;</td>
								<td height="25" bgcolor="FAFAFA" style="padding-top:10px"><input name="m_Tel" type="text" id="m_Tel" style="font-size: 12px;" size="30" maxlength="50"></td>
							</tr>

							<tr bgcolor="F7FAFA">
								<td height="25" align="center" bgcolor="FAFAFA" style="padding-top:10px">&nbsp;Q Q(可填)&nbsp;</td>
								<td height="25" bgcolor="FAFAFA" style="padding-top:10px"><input name="m_QQ" type="text" id="m_QQ" style="font-size: 12px;" size="30" maxlength="50"></td>
							</tr>
							<tr bgcolor="F7FAFA">
								<td height="25" align="center" bgcolor="FAFAFA" style="padding-top:10px">&nbsp;邮件(可填)&nbsp;</td>
								<td height="25" bgcolor="FAFAFA" style="padding-top:10px"><input name="m_Email" type="text" id="m_Email" style="font-size: 12px;" size="30" maxlength="50"></td>
							</tr>
							<tr bgcolor="F7FAFA">
								<td height="25" align="center" bgcolor="FAFAFA" style="padding-top:10px">&nbsp;主页(可填)&nbsp;</td>
								<td height="25" bgcolor="FAFAFA" style="padding-top:10px"><input name="m_Web" type="text" id="m_Web" style="font-size: 12px;" size="30" maxlength="50"></td>
							</tr>
							<tr bgcolor="F7FAFA">
								<td height="25" align="center" bgcolor="FAFAFA"><font color="#FF0000">主题</font>(必填)</td>
								<td bgcolor="FAFAFA"><input name="m_Subject" type="text" id="m_Subject" size="50" maxlength="50" style="font-size: 12px;"></td>
							</tr>
							<tr bgcolor="F7FAFA">
								<td align="center" valign="top" bgcolor="FAFAFA">&nbsp;<font color="#FF0000">留言</font>(必填)</td>
								<td bgcolor="FAFAFA"><textarea name="m_Contents" cols="62" rows="10" id="m_Contents" style="font-size: 12px;"></textarea></td>
							</tr>
							<tr>
								<th >&nbsp;</th>
								<td ><input type="submit" class="button" value="提 交" name="submit"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
    </div>
    <div class="clear blank10"></div>