{xiao:template header.html}
<!--网上支付 开始-->
<div class="div1002">
    <div class="mainbox" style="margin-top:0px">
        <!--页面左侧内容 开始-->
        {xiao:template left.html}
        <!--页面左侧内容 结束-->

        <!--页面右侧内容 开始-->
        <div class="right leftbox">
            <div class="dqlanmu dqwztit">您当前所在的位置 ： <a href="{xiao:$site_url}">首页</a> >> {xiao:function.position($catid,' >> ')}</div>
            <div class="border navjz" id="mm2"><p align="center">&nbsp;</p>
                <p align="center">&nbsp;</p>
                <p>
                </p><table style="HEIGHT: 381px; BORDER-COLLAPSE: collapse; WIDTH: 471px" bordercolor="#ffffff" cellspacing="2" cellpadding="3" width="471" align="center" bgcolor="#ffffff" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <p align="center"><a href="https://jiaofei.alipay.com/jiaofei.htm?_pdType=aecfbbfgeabbifdfdieh&amp;_scType=bacfajegafddadijhagd" target="_blank"><img border="0" src="http://www.luanwater.com/UserData/UploadFile/1/2015/4/3/201543141137899.jpg"></a></p></td></tr>
                    <tr>
                        <td>
                            <p align="center"><a href="https://www.bestpay.com.cn/" target="_blank"><img border="0" src="http://www.luanwater.com/UserData/UploadFile/1/2015/4/3/201543141144187.jpg"></a></p></td></tr>
                    <tr>
                        <td>
                            <p align="center"><a href="http://www.ahwxcs.com/publish/www/publish/page/index/index.jsp?cityId=06" target="_blank"><img border="0" src="http://www.luanwater.com/UserData/UploadFile/1/2015/4/3/201543141149857.jpg"></a></p></td></tr></tbody></table><p></p>
                <p>&nbsp;</p><div class="clear"></div>
            </div>
        </div>
        <!--页面右侧内容 结束-->
        <div class="clear"></div>
    </div>
</div>
<!--网上支付 结束-->
{xiao:template footer.html}